.vagrant/machines/k8s-master/virtualbox/action_provision
.vagrant/machines/k8s-master/virtualbox/action_set_name
.vagrant/machines/k8s-master/virtualbox/box_meta
.vagrant/machines/k8s-master/virtualbox/creator_uid
.vagrant/machines/k8s-master/virtualbox/id
.vagrant/machines/k8s-master/virtualbox/index_uuid
.vagrant/machines/k8s-master/virtualbox/synced_folders
.vagrant/machines/k8s-master/virtualbox/vagrant_cwd
.vagrant/machines/node-1/virtualbox/action_provision
.vagrant/machines/node-1/virtualbox/action_set_name
.vagrant/machines/node-1/virtualbox/box_meta
.vagrant/machines/node-1/virtualbox/creator_uid
.vagrant/machines/node-1/virtualbox/id
.vagrant/machines/node-1/virtualbox/index_uuid
.vagrant/machines/node-1/virtualbox/synced_folders
.vagrant/machines/node-1/virtualbox/vagrant_cwd
.vagrant/machines/node-2/virtualbox/action_provision
.vagrant/machines/node-2/virtualbox/action_set_name
.vagrant/machines/node-2/virtualbox/box_meta
.vagrant/machines/node-2/virtualbox/creator_uid
.vagrant/machines/node-2/virtualbox/id
.vagrant/machines/node-2/virtualbox/index_uuid
.vagrant/machines/node-2/virtualbox/synced_folders
.vagrant/machines/node-2/virtualbox/vagrant_cwd
.vagrant/provisioners/ansible/inventory/vagrant_ansible_inventory
.vagrant/rgloader/loader.rb
.vscode/settings.json
.terraform/providers/registry.terraform.io/hashicorp/helm/2.13.2/linux_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/helm/2.13.2/linux_amd64/terraform-provider-helm_v2.13.2_x5
.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.30.0/linux_amd64/LICENSE.txt
.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.30.0/linux_amd64/terraform-provider-kubernetes_v2.30.0_x5
provisioning/join/admin.conf
provisioning/join/kube-output.txt
